* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    display: grid;
}

.header{
    display:block;
    min-width: 100% !important;
    position: relative;
    padding: 10px;
    border-bottom: 2px orange;
    height: 70px;
}

.app {
    display:grid;
    width:100vw;
    height: 90vh;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img.profile-pic-container{
  
  
}

img.otherprofile {
    text-align:center;
}

.otherprofileimg{
    height: 250px;
    width: auto; 
    border: 5px solid black;
}

img.profile-pic{
    border: 5px solid black;
    vertical-align: middle;
}

.header #logo{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

.header #self{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
}


.profile {
    position: relative;
    padding: 10px;
}

.recentUsers{
    display: flex;
    flex-direction:column;
}
.recentUsers img{
    vertical-align: middle;
    }

.recentUsers a{
    text-decoration: none;
    color:black;
}

.finderInput{display: block;
width: 100%;
min-width: 100%;}
   

img {
border-radius:50%;
}

main {
    width: 100vw;
    height: 100vh;
    font-family: "Alegreya", cursive;
}

body {
    background-image: url("/assets/marmor.jpg");
}

.title {
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 45px;
}

.title {
    transition: all 0.2s ease-in-out;
}
.title:hover {
    transform: scale(1.05);
}

img:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transform: scale(1.05);
    transition: all 1s ease;
}

 img {
    -webkit-filter: brightness(80%);
    width: 50px;
    height:     50px;
    object-fit: cover;
    margin-top: 10px;
}

.outer-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.input-container input:hover {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    background: black;
    color: white;
}

.input-container input:hover::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: white;
    background: black;
}

input {
    width: 60vw;
    height: 5vh;
    margin: 5px;
    border-radius: 10px;
    max-width: 200px;
}

.logo {
    height: 10vh;
    width: auto;
}

.logo {
    transition: all 0.2s ease-in-out;
}
.logo:hover {
    transform: scale(1.05);
}

.register-button {
    position: relative;
    background-color: grey;
    color: white;
    padding: 5px;
    width: 20vw;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    max-width: 60px;
}

button:hover,
button:focus {
    background: black;
    color: white;
    outline: 0;
}

.profile-pic {
    height: 100px;
    width: auto;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    text-align: center;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

input[type="text"],
textarea {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #dddddd;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.profile-pic-container {
    justify-content: flex-end;
}

.navbar {
    width: 100%;
    height: 100px;
    background: grey;
    display: flex;
}
